<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC   
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="SopTaskPO" type="com.galaxyinternet.model.soptask.SopTask" />
		<typeAlias alias="SopTaskBO" type="com.galaxyinternet.bo.SopTaskBo" />
	     <typeAlias alias="SopUserSchedulePO" type="com.galaxyinternet.bo.SopUserScheduleBo" />
	    <typeAlias alias="SopFilePO" type="com.galaxyinternet.model.sopfile.SopFile"/>
	    <typeAlias alias="SopTemplatePO" type="com.galaxyinternet.model.template.SopTemplate"/>
	     <typeAlias alias="NewMessagePO" type="com.galaxyinternet.model.message.NewMessage"/>
	  
	    
	</typeAliases>
</configuration>