<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<nav class='anchor_nav anchor_navs'>
	<div class="anchor_btn">
		<p>隐藏未填写项</p><span></span>
	</div>
		<ul id="nav_ul">
			
 		</ul>
	</nav>
	 <script id="nav_tmpl" type="text/x-jquery-tmpl">
{{if name == '基础信息' || name == '竞争'}}
		{{each(i,childList) childList}}
			{{if relateCode}}
				<li class='${code} active'><a href="#${relateCode}">${name}</a></li>
			{{else}}
				{{if i==0}}
					<li class='${code} active'><a href="#${code}">${name}</a></li>
					{{else}}
					<li class='${code}'><a href="#${code}">${name}</a></li>
				{{/if}}	
			{{/if}}
		{{/each}}
{{else}}
{{each(i,childList) childList}}
	{{if relateCode}}
	<li class='a_${code} active'><a href="#${relateCode}">${name}</a></li>
	{{else}}
		{{if i==0}}
			<li class='a_${code} active'><a href="#a_${code}">${name}</a></li>
			{{else}}
			<li class='a_${code}'><a href="#a_${code}">${name}</a></li>
		{{/if}}
	{{/if}}	
{{/each}}
{{/if}}
    </script>
</body>
</html>