
 p,span,i,em{	
	font-family: Microsoft YaHei;
}
.infoTop{
	position: relative;
	margin: 0 16px;

}
.infoTop .rightLink,.infoTop .backLink{
    float: right;
    top: -42px;
    position: relative;
	font-family: Microsoft YaHei;
	font-size: 12px;
	color: #3CA6FF;
}
.infoTop h5{
font-size: 18px;
color: #000;
font-weight: normal;
text-align: center;
margin: 30px auto 20px; 
width:500px; 
}
.DN_list .infoTop h5,.DN_info .infoTop h5{
	margin-top:16px;
	margin-bottom:20px;
}
.DN_list .tableBox,.DN_info .tableBox{margin: 0 10px;}
.infoTop h5 img{    
	display: inline-block;
    vertical-align: middle;
    padding-right: 15px;
}
.DN_info .infoBox {
	margin-bottom: 70px;
}
.titleImg{
	display:inline-block;	
    vertical-align: middle;
    padding-right: 10px;
}
.center{position: absolute;top:30px;left:50%; 
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-moz-transform: translateX(-50%);
-o-transform: translateX(-50%);
width:500px;height:auto;}
.infoTop p{
font-size: 14px;
color: #666666;
text-align: center;
margin-bottom: 5px;
}
.DN_info .infoTop p{	
margin-bottom: 0px;
}
.DN_list{
	padding-bottom:30px;
}
#powindow .DN_list{
	padding-bottom:0px;
}
.DN_list .infoList{
	margin-top:10px;
}
.DN_info .infoTop .backLink{
    bottom: 20px;
    top:auto;
}
.infoTop i{ 
color: #FF5124;
font-style: normal;
}
.scheduleIcon{
	margin:26px auto 26px;
	width: 330px;
}
.scheduleIcon li{
	float: left;
	width: 110px;
	height: 1px;
	background:#999 ;
	margin: 0;
	padding: 0;
}
.scheduleIcon li:before{
	content: attr(data-content);
	display: block;
	width: 17px;
	line-height: 17px;
	border-radius: 50%;
	background:#999 ;
	text-align: center;
	color: #fff;
	position: relative;
	left: 47px;
	top: -8px; 
	font-weight: lighter;
	font-size:12px;
}
.scheduleIcon li.active,.scheduleIcon li.active:before{
background: #3CA6FF;
} 
.scheduleIcon li p{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #666;
	margin: 0;
}

.scheduleIcon li.active p{
color: #3CA6FF;
} 
.tableBox{ 
	margin: 0 16px; 
}
.tableBox .fixed-table-pagination{
	margin-top:10px;
} 
.tableBox  .pagination li{ 
}
.tableBox  .pagination > li > a, .tableBox .pagination > li > span,.tableBox  .pagination > li > a:hover, .tableBox .pagination > li > span:hover,.tableBox .pagination > li > a:focus,.tableBox  .pagination > li > span:focus{
	background-color:#fff!important;
	color: #45AAFF;
	border-width:0;	
    margin-left: 8px;
}
.tableBox .btn-default{
	background-color:#fff;
}
.tableBox  .pagination > li.active > a{
	background: #45AAFF!important;
	color: #fff;
} 
.tableBox .dropdown-menu1{
	max-width: 46px;
	min-width: 46px;
    padding: 0!important;
    text-align: center;
	background: #fff!important;
}
.tableBox .dropdown-menu1 > li > a{
	padding:3px 0;
}
.tableBox .pagination > .disabled > span, .tableBox .pagination > .disabled > span:hover, .tableBox .pagination > .disabled > span:focus, .tableBox .pagination > .disabled > a, .tableBox .pagination > .disabled > a:hover, .tableBox .pagination > .disabled > a:focus{

}
#powindow .bigPop.DN_info .tableBox {
	margin-bottom: 40px;
}
.DN_info.noPad{	
	padding-bottom: 10px;
}
.infoList{
	width: 100%;
	border-collapse:collapse;
	table-layout: fixed;
	border-radius: 2px!important;
}
.width{
	width: 100%; 
}
.threeLi p{ 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; 
    max-width: 260px;
}
.listTitle.listThree .threeLi{
	border-bottom: 1px solid #d8d8d8;
}
.listThree .threeLi{
	text-align: left;  
	border-bottom: 1px solid #E4E4E4;
} 
.listTitle{
	padding: 0 15px;
}
.infoList tr{
	border-bottom: 1px solid #d8d8d8;
}
.infoList tbody tr{
	border-bottom: 1px solid #E4E4E4;
}
.listTitle th{
	font-size: 14px;
	color: #33363E;
	box-sizing: border-box;
	padding: 30px 0px 20px;
	line-height: 1;
	border-bottom: none;
} 
.infoItem{
	margin-bottom:20px;
}
.listCon .on td,.infoItem .on td{
	background: none!important;
}
.listCon .threeLi{
	padding: 20px 0; 	
    border-bottom: 1px solid #e4e4e4;
}
.infoList .threeLiFirst{
	padding-left:20px;
	width:45%;
}
.infoList .threeLiFirst {
    padding-left: 20px!important; 
}
.fixed-table-container thead th .th-inner{
	padding: 20px 0 10px 0;
}
.infoList .threeLiSecond{
	width:45%;
}
.conInfo{    
	display: inline-block;
    vertical-align: middle;
	color: #000;
	font-size: 16px;	
	max-width:75%;
} 
.textBotm{
	color: #999;
	font-size: 12px;
	padding-top: 10px;
	line-height: 1.2;
}
.textBotm .industryName,.textBotm .districtSubName{
	display:inline-block;
	padding-left:25px;	
	line-height:20px;
	background:url("../img/process/tag.png") no-repeat left center; 
	margin-right:10px; 
}
.textBotm .districtSubName{
	background:url("../img/process/local.png") no-repeat left center; 
}
.textBotm span{
	display: inline-block;
}
.blueBtn{
	width: 72px;
	text-align: center;
	line-height: 32px;
	background: #3CA6FF;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	border: 0;
	outline: none;
	cursor: pointer;	
}
.threeLi .comImg{
	width: 60px;
	height:60px ;    
	display: inline-block;
    vertical-align: middle;
	margin-right: 16px;
    border: 1px solid #E4E4E4;
}
.tabdiv{
	margin-left: 16px;
}
.infoBox{
	padding:20px 16px 20px 16px ;
	background:#fff;
}
/* .infoItem{
margin-bottom:30px; 
} */
.infoItem .titles{
font-size: 12px;
color: #333333;
font-weight: bold;
}
.infoItem table{
	border: 1px solid #D8D8D8; 
	border-collapse:collapse;
	margin-top:10px;
}
.infoItem table thead td{
color: #5A626D;
font-weight: bold;
}
.infoItem table td{	
	font-family: Microsoft YaHei;
	text-align: center;
	line-height: 32px;
	border-left: 1px solid #d8d8d8;	
    border-bottom: 1px solid #d8d8d8;
}
.infoItem table[code="finance-history"] td[name="field2"]{
	width:35%;
}
.infoItem table td[name="field5"]{
	padding:10px 0;
}
.infoItem table td[name="field5"] p{
	line-height:1.8;
	padding-left:10px;
	text-align:left;
}
.infoItem table td:nth-child(1){border-left:0; width:32px; position:relative;}
.infoItem table td:nth-child(2){ width:20%;overflow:hidden;white-space:nowrap; text-overflow:ellipsis; }
.infoItem table[code="equity-structure"]{
table-layout: fixed;
} 
.tabrow{
	width: 90%;
} 
.emptyInfo{
	height: 260px;
	position: relative; 
	background: #fff;
    margin-bottom: 120px;
}
.empty{
	width: 150px;
    height: 25px;
    background: url(../img/base_info/base_icon.png) -180px -70px no-repeat;
    color: #b2b2b2;
    text-align: center;
    padding-top: 95px;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
.DN_list .tableBox.emptyInfo{
	margin-top:20px;
}
.pageTop{
	position: relative;
	background: #fff;
	padding: 10px 30px;
	box-shadow: 0 1px 2px 0 rgba(153,153,153,0.50);
}
.pageTop .form-group{
	float: left;
	width:auto;
}
.input-group input{
	width:240px;
	height:33px;
	margin-left: 32px;
	padding-left:10px;
	border: 1px solid #D8D8D8;
	border-radius: 2px;
}
.title_top{
	width:100%;
	height:64px;
	background:#fff;
}
.title_top h3{
	float:left;
	margin-top:20px;
	margin-left:20px;	
	font-size: 24px;
	color: #202533;
}
.title_top span:nth-child(2){
	float:right;
	display:inline-block;
	width:88px;
	height:32px;
	text-align:center;
	line-height:32px;
	color:#fff;
	background: #3CA6FF;
	border-radius: 2px;
	margin-top:20px;
	margin-bottom:12px;
	margin-right:19px;
	cursor:pointer;
	
}
.operate_project{
	float:right;
	display:inline-block;
	width:88px;
	height:32px;
	text-align:center;
	line-height:32px;
	color:#fff;
	background: #3CA6FF;
	border-radius: 2px;
	margin-top:20px;
	margin-bottom:12px;
	margin-right:19px;
}
#powindow .bigPop{
	min-width: 1000px; 
    margin: 0 auto; 
    overflow-y: auto;
}
.fixedbottom,.jumpBox{
	position: fixed;
	padding: 20px 0 20px 20px;
	left: 60px;
	right: 0;
	bottom: 0;	
	background: #e9ebf2;  
    z-index: 102;
}
#powindow .fixedbottom{
	background: rgb(244, 244, 244) ; 
}
@media (min-width: 1359px) {
	.fixedbottom,.jumpBox{
	left:9.375%;
	}
}
.poptxt .fixedbottom,.poptxt .jumpBox{
	left:0;
	position:absolute;
}
.jumpBox{
	display:none;
	z-index: 103;
	background: #e9ebf2; 
    height: 100%;
    padding:0;
    top:53px;
}
.add_pro,.over_pro{
	background: #3CA6FF;
	border-radius: 2px;
	line-height: 1.5;
	padding: 5px 22px;
	display: inline-block;
	color:#fff;
}
.over_pro{
	background: #EEF6FC;
	color: #3CA6FF;
	margin-left:20px;
}
#dataHidden{
	display:none;
}
.jumpCon{text-align:center; }
.jumpCon img{margin:60px auto; }
.jumpCon .p1{
	font-family: Microsoft YaHei;
	font-size: 18px;
	color: #000000;
}
.jumpCon .p2 span{
	color:#FF0000;
	padding-right: 5px;
}
.jumpBtn{
	background-color: #fff;
	margin:30px auto;
	cursor: pointer;
}
.pop .close.outClose{	
    top: -30px;
    right: -40px;
    width:30px;
    height:30px;
    background: url(../img/outClose.png) no-repeat;
    background-size:100%;
}
.fixed-table-toolbar .pull-left{
margin:0;
}
.lightColor{
color:#999;
font-size: 12px;
padding-top:8px;
} 
#dataTable{
	display:none;
}