
 p,span,i,em{	
	font-family: Microsoft YaHei;
}
.infoTop{
	position: relative;
	margin: 0 16px;

}
.infoTop .rightLink{
    float: right;
    top: -42px;
    position: relative;
	font-family: Microsoft YaHei;
	font-size: 12px;
	color: #3CA6FF;
}
.infoTop h5{
font-size: 18px;
color: #000;
font-weight: normal;
text-align: center;
margin: 30px auto 20px; 
width:240px;
background:url("../img/process/infoCreat.png") no-repeat left center; 
}
.infoTop p{
font-size: 14px;
color: #666666;
text-align: center;
margin-bottom: 10px;
}
.infoTop i{ 
color: #FF5124;
font-style: normal;
}
.scheduleIcon{
	margin:30px auto 60px;
	width: 330px;
}
.scheduleIcon li{
	float: left;
	width: 110px;
	height: 1px;
	background:#999 ;
	margin: 0;
	padding: 0;
}
.scheduleIcon li:before{
	content: attr(data-content);
	display: block;
	width: 17px;
	line-height: 17px;
	border-radius: 50%;
	background:#999 ;
	text-align: center;
	color: #fff;
	position: relative;
	left: 47px;
	top: -8px; 
}
.scheduleIcon li.active,.scheduleIcon li.active:before{
background: #3CA6FF;
} 
.scheduleIcon li p{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: #666;
	margin: 0;
}

.scheduleIcon li.active p{
color: #3CA6FF;
} 
.tableBox{ 
	margin: 0 16px; 
}
.tableBox .fixed-table-pagination{
	margin-top:15px;
}
.tableBox  .pagination li{ 
}
.tableBox  .pagination > li > a, .tableBox .pagination > li > span,.tableBox  .pagination > li > a:hover, .tableBox .pagination > li > span:hover,.tableBox .pagination > li > a:focus,.tableBox  .pagination > li > span:focus{
	background-color:#fff!important;
	color: #45AAFF;
	border-width:0;	
    margin-left: 8px;
}
.tableBox .btn-default{
	background-color:#fff;
}
.tableBox  .pagination > li.active > a{
	background: #45AAFF!important;
	color: #fff;
} 
.tableBox .dropdown-menu1{
	max-width: 46px;
	min-width: 46px;
    padding: 0!important;
    text-align: center;
	background: #fff!important;
}
.tableBox .dropdown-menu1 > li > a{
	padding:3px 0;
}
.tableBox .pagination > .disabled > span, .tableBox .pagination > .disabled > span:hover, .tableBox .pagination > .disabled > span:focus, .tableBox .pagination > .disabled > a, .tableBox .pagination > .disabled > a:hover, .tableBox .pagination > .disabled > a:focus{

}
.infoList{
	width: 100%;
	border-collapse:collapse;
	table-layout: fixed;
}
.width{
	width: 100%; 
}
.listTitle.listThree .threeLi{
	border-bottom: 1px solid #d8d8d8;

}
.listThree .threeLi{
	text-align: left;  
	border-bottom: 1px solid #E4E4E4;
} 
.listTitle{
	padding: 0 15px;
}
.infoList tr{
	border-bottom: 1px solid #d8d8d8;
}
.infoList tbody tr{
	border-bottom: 1px solid #E4E4E4;
}
.listTitle th{
	font-size: 14px;
	color: #33363E;
	box-sizing: border-box;
	padding: 30px 0px 20px;
	line-height: 1;
	border-bottom: none;
} 
.listCon .on td,.infoItem .on td{
	background: none!important;
}
.listCon .threeLi{
	padding: 20px 0; 	
    border-bottom: 1px solid #e4e4e4;
}
.infoList .threeLiFirst{
	padding-left:20px;
	width:45%;
}
.infoList .threeLiSecond{
	width:45%;
}
.conInfo{    
	display: inline-block;
    vertical-align: middle;
	color: #000;
	font-size: 16px;	
	max-width:75%;
} 
.textBotm{
	color: #999;
	font-size: 12px;
	padding-top: 10px;
	line-height: 1;
}
.textBotm .industryName,.textBotm .districtSubName{
	display:inline-block;
	padding-left:25px;
}
.textBotm span{
	display: inline-block;
}
.blueBtn{
	width: 72px;
	text-align: center;
	line-height: 32px;
	background: #3CA6FF;
	border-radius: 2px;
	color: #fff;
	font-size: 14px;
	border: 0;
	outline: none;
	cursor: pointer;	
}
.threeLi .comImg{
	width: 60px;
	height:60px ;    
	display: inline-block;
    vertical-align: middle;
	margin-right: 16px;
    border: 1px solid #E4E4E4;
}
.tabdiv{
	margin-left: 16px;
}
.infoBox{
	padding:20px 16px ;
}
.infoItem{
	margin-bottom:30px;

}
.infoItem .titles{
font-size: 12px;
color: #333333;
font-weight: bold;
}
.infoItem table{
	border: 1px solid #D8D8D8; 
	border-collapse:collapse;
	margin-top:10px;
}
.infoItem table thead td{
color: #5A626D;
font-weight: bold;
}
.infoItem table td{	
	font-family: Microsoft YaHei;
	text-align: center;
	line-height: 32px;
	border-left: 1px solid #d8d8d8;	
    border-bottom: 1px solid #d8d8d8;
}
.infoItem table td:nth-child(1){border-left:0; width:32px;}
.infoItem table td:nth-child(2){ width:20%;}
.tabrow{
	width: 80%;
} 
.emptyInfo{
	height: 260px;
	position: relative;
	display: none;
}
.empty{
	width: 150px;
    height: 25px;
    background: url(../img/base_info/base_icon.png) -180px -70px no-repeat;
    color: #b2b2b2;
    margin: 0 auto;    
    text-align: center;
    padding-top: 95px;
    top: 72px; 
}

.pageTop{
	position: relative;
	background: #fff;
	padding: 10px 30px;
}
.pageTop .form-group{
	float: left;
	width:auto;
}
.bootstrap-select > .btn,.open>.dropdown-toggle.btn-info:hover,.dropdown-toggle.btn-info:active,.dropdown-toggle.btn-info:focus {
	max-width: 130px;
    padding-right: 30px;
	background: none;
	border: none;	
    color: #33363E;
    outline: none!important;
} 
.bootstrap-select.btn-group .btn .filter-option{
	position: relative;
	font-family: Microsoft YaHei; 
	overflow: hidden;
	display: inline-block; 
    max-width: 77px;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bootstrap-select.btn-group .btn .caret{
	color: #59626D ;
	border-bottom: 0px !important;	
    border-top: 5px dashed !important;
}
.open>.dropdown-menu{ 
	border: 1px solid #D8D8D8;
	border-radius: 0 0 2px 2px;
	background: #fff;
	padding: 0;
}
.bootstrap-select.btn-group .dropdown-menu li{
	line-height: 30px;
	border-bottom: 1px solid #f0f0f0;
	padding-left: 7px;
    padding-right: 25px;
	overflow: hidden;
	font-family: Microsoft YaHei;
	position: relative;
} 
.bootstrap-select.btn-group .dropdown-menu li>a{
	background: none;
	width: 100%;	
    display: block;
}
.bootstrap-select.btn-group .dropdown-menu li.selected{
background: #E5F3FF;
}
.bootstrap-select.btn-group .dropdown-menu li.selected a:after{ 
	content: "✓ "; 
	float: right;
	padding-right:7px;
	color: #55A7FF; 
    position: absolute;
    right: 2px;
    top: 0px;
}
.input-group input{
	width:240px;
	height:32px;
	margin-left: 32px;
	padding-left:10px;
}
.title_top{
	width:100%;
	height:64px;
	background:#fff;
}
.title_top h3{
	float:left;
	margin-top:20px;
	margin-left:20px;	
	font-size: 24px;
	color: #202533;
}
.title_top span:nth-child(2){
	float:right;
	display:inline-block;
	width:88px;
	height:32px;
	text-align:center;
	line-height:32px;
	color:#fff;
	background: #3CA6FF;
	border-radius: 2px;
	margin-top:20px;
	margin-bottom:12px;
	margin-right:19px;
	
}
