.loading-indicator {
	height: 80px;
	width: 80px;
	background: url( '../img/loading.gif' );
	background-repeat: no-repeat;
	background-position: center center;
}
.loading-indicator-bars {
		background-image: url('../img/loading-bars.gif');
		background-repeat: no-repeat;
		width: 150px;
		background-position: center center;
}

.loading-indicator-overlay {
	background-color: #FFFFFF;
	opacity: 0;
	filter: alpha(opacity = 0);
}