.h_look.ch_opration{padding:0;}
.ch_opration .h_edit{padding:30px;}
.test_top ul{
	background:#f6f6f6;
	border-radius:4px 4px 0 0;
	line-height:60px;
	font-size:18px;
}
.test_top ul li{
	float:left;
	margin-left:9%;
}
.pagebox{
	 min-width:initial;
	 overflow:hidden;
}
.test_top_first{
	margin-left:50px !important;
}
.test_top ul li span{
	color:#65a7ff;
	margin-left:10px;
}
.test_top_last{
	float:right !important;
	margin-right:20px;
	border:0;
	line-height: 60px;
	background: none;
	outline:none;
}
.test_top_last em{
	display:inline-block;
	background-color:#65a7ff;
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#fff;
	border-radius:4px;
	cursor:pointer;
	font-size: 14px;
}
table{
	border-collapse:collapse;
	width:100%;
	border:0px solid #d8d8d8;
	font-size:12px;
	word-wrap:break-word;
}
table td{
	border:1px solid #d8d8d8;
	color:#333333;
	font-size:12px;
	font-family:'Microsoft YaHei';
}
thead td{
	text-align:center;
}
.new_left tbody td{
	text-align:center;
	overflow:hidden;
	position:relative;
	border-bottom: 1px solid #d8d8d8;
	line-height: 2;
}
.new_left .h_look td{
	border-bottom: 1px solid #fff;
	border-left:0;
	} 
#page_all tr td:first-child+td+td+td{
	text-align:left;
}
#page_all tr td.score-column{
	text-align:center!important;
}

#page_all tr.evl_module td:first-child+td+td+td{
	text-align:center;
}
#page_all tr.evl_module td:first-child+td+td+td+td{
	text-align:left;
}
table td:first-child{
	width:7%;
}
table td:first-child+td{
	width:10%;
}
table td:first-child+td+td{
	width:21%;
}
table td:first-child+td+td+td{
	width:6%;
}
table td:first-child+td+td+td+td{
	width:20%;
}
table td:first-child+td+td+td+td+td{
	width:9%;
}
table td:first-child+td+td+td+td+td+td{
	width:9%;
}

table .on td{
	background:none !important;
}

.align_left{
	text-align: left;
	padding:0 5px;
	position:relative;
}
.align_left p,.align_left span,.content_16.align_left p.black{
	line-height:2;
	color:#b2b2b2;
    word-break: break-word;
}
.align_left p.black,.align_left span.black,.content_16.align_left p sitg{
	color:#333;
}
.editPic{
	display:inline-block;
	width:27px;
	height:27px;
	position:absolute;
	right:5px;
	top:5px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-17px -15px;
	cursor:pointer;
	display:none; 
	z-index:10;
	
}
table td .holder{
	height:27px;
}
table td.td_15{padding:0;}
table td input{
	width:64px;
	height:24px;
	color:#0aa7ff;
	outline:none;
	border:1px solid #53b1fd;
	text-align:center;
	font-size:12px;
	font-family:'Microsoft YaHei';
}
table td input::-webkit-input-placeholder{
  color: #d8d8d8;
}
table td input:-moz-placeholder {
  color: #d8d8d8;
}
table td input:-ms-input-placeholder{
  color: #d8d8d8;
}
table td input::-moz-placeholder {
  color: #d8d8d8;
}
table td input.disabled,table td select.disabled{
	border-color:#dadada;
	background-color: #fff !important; */
}
table td .table_show{
	display:block;
}
table td em{
	width:auto !important;
	color:#d8d8d8;
}
table td i{
	font-style:normal;
	color:#d8d8d8;
}
/* table td textarea{
	width:100%;
	text-align:center;
	line-height:36px;
	display:table-cell;
	vertical-align:middle;	
} */
table td input[type="radio"]{
	width:15px;
	height:15px;
	vertical-align:middle;
}
table td label{
	display:inline-block;
	margin-left:10px;
}

table td em.right{
	display:inline-block;
	width:16px !important;
	height:16px;
	position:absolute;
	top:10px;
	right:10px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-136px -19px;
	cursor:pointer;
	
}
table td i.wrong{
	display:inline-block;
	width:16px !important;
	height:16px;
	position:absolute;
	top:10px;
	right:36px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-80px -19px;
	cursor:pointer;
	
}
table.table_15 td{
	border:0px;
	border-right: 1px solid #d8d8d8;
}
table.table_15 tr:first-child{
	border-bottom: 1px solid #d8d8d8;
}
table.table_15 td:first-child{
	width:37.15%;
}
table.table_15 td:first-child+td{
	width:10.6%;
}
table.table_15 td:first-child+td+td{
	width:35.3%;
	text-align:left;
	padding: 5px;
}
table.table_15 td:first-child+td+td+td{
	width:15.8%;
	border-right: 0px;
}
.Button{
	display:none;
}
.mashLayer{
	background: #000;
    filter: alpha(opacity=20); /* IE碌脛脥赂脙梅露脠 */
    opacity: 0.1;  /* 脥赂脙梅露脠 */
   display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20; /* 麓脣麓娄碌脛脥录虏茫脪陋麓贸脫脷脪鲁脙忙 */
}
.popup{
	padding:10px 5px 10px 5px;
	width:285px;
	position:absolute;
	left:0px;
	top:0px;
	border:1px solid;
	z-index:999;
	/* display:none;  */
}
.income{
	text-align:left;
	
}
.income p{
	line-height:25px;
}
.income_line span{
	color:#999999;
}

.income_structor  em,.income_line em,.income_structor_content em.income_table,.income_structor_content em.income_pic,.condition em.packup,.condition em.detail{
	cursor:pointer;
	color:#53B1FD;
	line-height:1;
}
.condition em.detail{
	top:50%;
	margin-top: 19px;
	z-index: 12;
	right:0px;
}
.title-value.income_structor_content{color:#999;}
.content_radio_show{
	text-align:left;
	
}
.income_structor{
	position:relative;
}
.detail{
	position:absolute;
	right:-2px;
	display:none;
}
.detail i{ 
    color:#333;
    position: absolute;
    top: -3px;
    height: 20px;
    right: 18px;
    margin-righ:3px;
    width: 18px;
    font-size: 12px;
}
.packup{
	display:none;
}
.align_left .packup{
	margin-left:5px;
}
.content_radio_show input{
	margin-left:10px;
}
.notChoose{
	color:#d8d8d8;
}

.selectTips{
	display:none;
	margin-top:25px;
}
 .popupButton{
	display:block !important;
	overflow:hidden;
	height:28px;
	
} 
 .popupButton em.right{
	display:inline-block;
	width:16px !important;
	height:16px;
	position:absolute;
	top:10px;
	right:10px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-136px -19px;
	cursor:pointer;
	
}
.popupButton i.wrong{
	display:inline-block;
	width:16px !important;
	height:16px;
	position:absolute;
	top:10px;
	right:36px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-80px -19px;
	cursor:pointer;
	
} 
/* 碌炉麓掳 */
 .popup{
	width:23%;
	min-height:105px;
	max-height:169px;
	overflow-y:auto;
	background:#fff;
	border:1px solid #979797;
	display:none;
}

.popup_content{
	margin-top:20px;
	padding:0px 10px;
}
.popup_content span{
	display:inline-block;
	margin-top:5px;
}
.popup_content textarea{
	/* width:55px; */
	max-width:379px;
	border:none;
	/* outline:none;  */
	display:inline;
	text-align:center;
	vertical-align:top;
	color:#999999;
	 border-color: rgba(82, 168, 236, 0.8);
	height:20px;
	margin-top:5px;
}
textarea::input-placeholder{
	text-align:center;
}
.popup_content span{
	color:#999999;;
}
 .triangle-down{
     width: 0;
     height: 0;
     border-left: 8px solid transparent;
     border-right:8px solid transparent;
     border-top: 11px solid #979797;
     position:absolute;
     top:0px;
     left:0px;
	}
.popup_two{
	width:28%;
	/* height:220px; */
	position:absolute;
	left:0px;
	top:0px;
	z-index:999;
	background:#ffffff;
	border-radius:4px;
	display:none;
}
.popup_two_head{
	text-align:center;
	line-height:40px;
	background:#f9fafc;
	color:#3e4351;
	position:relative;
	border-radius:4px;
}
.popup_two_head span{
	display:inline-block;
	width:14px;
	height:14px;
	border:1px solid;
	position:absolute;
	right:15px;
	top:15px;
}
.popup_two_content{
	text-align:center;
	margin-top:41px;
	
}
.popup_two_content p{
	font-size:12px;
	color:#3e4351;
}
.popup_two_foot{
	margin-top:62px;
	padding-bottom:30px;
}
.popup_two_foot span:nth-child(1){
	display:inline-block;
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#4a97da;
	background:#f7f9fb;
	border-radius:4px;
	 margin-left:10%;
	cursor:pointer;
}
.popup_two_foot span:nth-child(2),.popup_two_foot span:nth-child(3){
	display:inline-block;
	width:80px;
	height:30px;
	text-align:center;
	line-height:30px;
	color:#ffffff;
	background:#4a97da;
	border-radius:4px;
	cursor:pointer;
}
.popup_two_foot span:nth-child(2){
	  margin-left:25%; 
}
.popup_two_foot span:nth-child(3){
	 margin-left:3%;
	background:#f7f9fb !important;
	color:#4a97da;
}
/* .table_three{
	width:47.5%;
	height:auto;
	position:absolute;
	left:0px;
	top:0px;
	background:#fff;
	z-index:999;
	display:none;
} */
/* .table_three table{
	width:100%;	
	border-radius:1px;
}
.table_three table th{
	text-align:center;
	color:#fff;
	background:#accbff;
}
.table_three table td:nth-child(1){
	width:10%;
}
.table_three table td:nth-child(2){
	width:10%;
}
.table_three table td:nth-child(3){
	width:10%;
}
.table_three table td:nth-child(4){
	width:20%;
}
.table_three table td:nth-child(5){
	width:10%;
}
 */
 
 .ch_blue{
 	color:#438ee1;
 	cursor:pointer;
 }

 .ch_margin_bottom{
 margin-bottom:20px;
 }
 .ch_color{
 color:#999
 
 }
 /*杩愯惀娴嬭瘎寮圭獥*/
 .ch_opration{
  	width: 61.5%;
  	z-index: 30;
   	background:rgb(250, 250, 250);
   	position: absolute;
   	display: none;
   	height:auto;
   max-height: 560px;
   overflow-y: auto;
 }
 .ch_navbar li{
 	background: url(../img/h_navbarbg.png) 0 -90px no-repeat !important;
 }
 .ch_imgs_add{
 	background: url(../img/h_imgs_add.png) 0 0 no-repeat;
 }
.ch_edit{
	padding-left: 5px;
}
.ch_marginTop{
	margin-top: 20px;
}



/*鏂板鍐呭===========================================*/
/*濉┖棰樺脊绐�*/
.gapPopup{
	height:auto;
	background-color: #fff;
	position: absolute;
	display: none;
	z-index: 21;
	border:1px solid #979797;
}
.gapPopup:after{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left: 30px;
			/* top: 105px; */
			bottom:-18px;
			z-index: 10;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #979797;
		}
.gapPopup:before{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left:30px;
			/* top: 103px; */
			bottom:-16px;
			z-index: 20;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #fff;
		}
.gapPopup textarea{
	width: 259px;
	height: 129px !important;
	border:none;
	outline: none;
	resize: none; 
	/* overflow-y:hidden !important;
	margin-top:25px; */
	padding:0px 10px 10px 10px;
}
.gapPopup textarea:-moz-placeholder {
   color: #999;
 }
 .gapPopup textarea:-ms-input-placeholder {
   color: #999;
 }
 .gapPopup textarea::-moz-placeholder {
   color: #999;
 }
 .gapPopup textarea::-webkit-input-placeholder {
   color: #999;
 }
.show_edit{
	display:inline-block;
	width:27px;
	height:27px;
	position:absolute;
	right:225px;
	/* top:126px; */
	bottom:-50px;
	background:url(../../img/seven_report/ICON.png) no-repeat;
	background-position:-17px -15px;
	cursor:pointer;
	
}
.please_choose{
	color: #53b1fd;
}
table td select{
	width:64px;
	height:29px;
	color:#53b1fd;
	border:1px solid #53b1fd;
	padding-left: 5px !important;
	border-radius:0px;
	font-size:12px;
	font-family:'Microsoft YaHei';
}
table td select option{
	color: #999999;
	
	/* padding-top: 30px; */
}
.select_long{
	width:202px;
	height:30px;
	color:#333333;
	border-color:#979797;
	
}
 .ch_stock{
 width:70%;
 position:absolute;
 left:0px;
 top:0px;
 display:none;
 z-index: 999;
 }

 .reasonable_stock{
 	width: auto;
 	height: auto;
 	border: 1px solid #979797;
 	position: absolute;
 	top: 30px;
 	left: 300px;
 	padding: 10px;
 	background: #fff;
 	max-width: 477px;
 	max-height: 145px;
 	display: none;
 	z-index: 999;
 }
 .reasonable_box{
 max-height: 127px;
 overflow:auto;
 }
 .reasonable_stock:before{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left:30px;
			bottom: -16px;
			z-index: 20;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #fff;
		}
 .reasonable_stock:after{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left: 30px;
			bottom: -18px;
			z-index: 10;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #979797;
		}

 .reasonable_stock table thead th{
 	text-align: center;
 	background-color: #accbff;
 	color: #fff;
 	height: 40px;
 	width: 130px;
 }
 .reasonable_stock table tbody td{
 	background:#f4f4f4;
 	color:#666666;
 	height: 40px;
 	width: 130px;
 }
 .ch_reason_stock{
 	height: 18px;
 }
 .stock_show_edit{
    right: 227px;
    top: 151px;
 }
 .customer_income{
 	width: 285px;
 	height: 171px;
 	border: 1px solid #979797;
 	position: absolute;
 	top: 20px;
 	left: 20px;
 	background: #fff;
 	display: none;
 	z-index: 13;
 }
 .customer_income:before{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left:30px;
			top: 170px;
			z-index: 20;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #fff;
		}
 .customer_income:after{
			content: '';
			display: inline-block;
			width: 0px;
			height: 0px;
			position: absolute;
			left: 30px;
			top: 172px;
			z-index: 10;
			border-left: 12px solid transparent;
			border-right:12px solid transparent;
			border-top: 18px solid #979797;
}
.picture_edit{
	top: 192px;
}
.img_inner{
	width: 120px;
	height: 120px;
	border: 1px solid;
	margin: 0 auto;
	margin-top: 1	0px;
}
.master_pic{
    position: absolute;
	font-size: 12px;
	color: #53b1fd;
	cursor: pointer;
	right: 10px;
    bottom: 10px;
}
.radioShow{
	display:none;
	text-align: left;
}
.radioShow label{
	margin-left: 10px;
}
.ch_income_evaluation{
	width: 70%;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 999;
}
.others_text{
    border-color: #979797;
    text-align: left;
    width: 142px;
    margin-right: 10px;
    color: #3e4351;
    display: none;
    float: right;
    margin-top: -26px;
    position: relative;
   /*  z-index: 100; */
}
.h_radios li label{
	margin-left: 10px;
}
 .div_tmpl{}
.radioShow label{
	display: inline-block;
    padding-right: 10px;
    width: 71%;
    vertical-align: middle;
}
.radioShow label.select_1,.radioShow label.select_2{
	padding:0;
	margin:0;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.radioShow label.select_1{
	max-width:66%;
}
.radioShow label.select_2{
	width:28%;
}
.radioShow span{
	display:inline-block;
	margin-left:10px;
}
.radioShow_1 input{color:#000; width: 80%;margin: 0 auto;display: block;margin-top:20px;text-align: left;padding:0 5px;border:0px;}
.radioShow_1 input::-webkit-input-placeholder{
  color: #d8d8d8;
}
.radioShow_1 input:-moz-placeholder {
  color: #d8d8d8;
}
.radioShow_1 input:-ms-input-placeholder{
  color: #d8d8d8;
}
.radioShow_1 input::-moz-placeholder {
  color: #d8d8d8;
}
/*div模拟select下拉框样式*/
ul,li{list-style:none;padding:0;margin:0;} 
.dropdown{
	width:100%; 
	position:relative;
	/* display:none; */
	margin-top:23px;
} 
.input_select{
	width:83%;
	height:24px; 
	line-height:24px; 
	margin:0 auto;
	border:.5px solid #979797; 
	background: url(../../img/seven_report/down.png) no-repeat center right 7px;
	padding: 0 18px 0 9px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size:12px;
    text-align:left;
    color:#3e4351;
    border-radius: 2px;
} 
.dropdown ul{
	width:95%; 
	background:#fff; 	
	border:.5px solid #979797; 	
	display:none;
	margin:0 auto;
	margin-top:-1px;
	border-radius: 2px;
} 
.dropdown ul li{
	padding:2px 5px;
	line-height:24px; 
	border-bottom: .5px solid #d8d8d8;
	cursor: pointer;
	text-align:center;
	display:block; 
	color:#666666;; 

}
.dropdown ul lilast-child{
	border-bottom:0px;
} 
.up{
	background: url(../../img/seven_report/up.png) no-repeat center right 7px;
}
.div_select{
	overflow: visible !important;
}
.new_left{
	margin-bottom:20px !important;
}
p.check_p{display:inline;}
.condition.condition_select{overflow: inherit;}
.sign_3 p{display:inline-block;}
.select_list li a{text-align:left;display: inherit;cursor:pointer;}
.h_look img{margin:0;top:10px;}
.h_imgs li{margin-bottom:10px;}
p.type_8{display: inline;padding-right:0px;}
p.type_8.mare_text{
height:70px;
overflow:hidden;
display:block;
position: relative;
padding-right:31px;
}
select{
	border:1px solid #000;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	background: url(../../img/seven_report/down.png) no-repeat center right 3px;
	padding-right: 14px;
}
select::-ms-expand { display: none; } 

.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 14px !important;
    height: 14px !important;
    background: url(../../img/seven_report/myBlue.png) no-repeat !important;
    vertical-align: top;
    border: none;
    cursor: pointer;
    margin-top: 7px;
    margin-left:3px;
}
.icheckbox_flat-blue{margin-left:5px;}
.iradio_flat-blue.checked{
	background-position:-58px -5px !important;
}
.iradio_flat-blue{
	background-position: -71px -4px !important;
}
.icheckbox_flat-blue.checked{
	   background-position:-86px -5px !important;
}
.icheckbox_flat-blue
{
	background-position: -100.2px -5px !important;
}
.score-column select,.score-column input{border-radius:2px;}
.score-columns span.error{
	display:block;
	color:red;
	text-align:left;
    line-height: 1.5;
} 

.mCSB_scrollTools .mCSB_draggerRail{
	background-color:#e9ebf2 !important;
	width:6px !important;
}
.mCSB_dragger{
	height: 122px !important;
	background:#61aae6;
	border-radius:5px !important;
	width:6px !important;
}
.mCSB_draggerContainer{
	width:6px !important;
}
.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	width:0px !important;
}
/* textarea scroll */
   /*for srcollbar*/
.mTEXTAREA_scrollTools {
        height: 100%;
        right: 0;
        top: 0;
        width: 6px;
        position: absolute;
        display: block;
    }
.mTEXTAREA_scrollTools .mTEXTAREA_draggerContainer {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
.mTEXTAREA_scrollTools .mTEXTAREA_draggerContainer .mTEXTAREA_draggerRail {
        /*background-color: #000;*/
        border-radius: 2px;
        height: 100%;
        opacity: 0.1;
        filter: alpha(opacity = 10);
        width: 90%;
    }
.mTEXTAREA_scrollTools .mTEXTAREA_draggerContainer .mTEXTAREA_dragger {
        cursor: pointer;
        width: 100%;
        position: absolute;
    }
.mTEXTAREA_scrollTools .mTEXTAREA_draggerContainer .mTEXTAREA_dragger .mTEXTAREA_dragger_bar {
        background-color: #61aae6;
        border-radius: 6px;
        cursor: pointer;
        height: 80%;
        opacity: 0.75;
        filter: alpha(opacity = 75);
        width: 4px;
        position: relative;
    }
.scrobar_textarea {position: relative;}
.o_picture{
	position:absolute;
	left:50%;
	top:20px;
	display:none;
	z-index:21;
    max-width: 80%;
}
.x_picture{
	display:none;
	width:32px;
	height:32px;
    color: #aaa;
	position:fixed;
	right:20px;
	top:70px;
	width:40px;
	font-size:40px;
	z-index:21;
	cursor:pointer;
	background: url(../../img/sop_progress/X_close.png) no-repeat ;
}
.h_edit input[data-type="20"]+.error{display:block;padding-top: 5px;}
.h_edit input[data-type="20"]{width: 245px;}
.h_edit .valuationInfo_20_select{ width: 150px;}
#title-info li{color:#333333;font-size:18px;}
.condition+td{
	text-align:left;
} 
.h_edit_txt select{
	padding: 0 6px!important;
	padding-right: 22px!important;
}
.ch_opration .h_edit_btnbox{margin-bottom:0px;}