<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
  <resultMap id="BaseResultMap" type="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="message_id" property="messageId" jdbcType="BIGINT" />
    <result column="message_os" property="messageOs" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="is_read" property="isRead" jdbcType="BIGINT" />
    <result column="is_del" property="isDel" jdbcType="BIGINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, message_id, message_os, user_id, is_read, is_del, create_id, create_time, update_id, 
    update_time
  </sql>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from system_message_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
			      <if test="id != null"> and id = #{id,jdbcType=BIGINT} </if>
			      <if test="messageOs != null"> and message_os = #{messageOs,jdbcType=VARCHAR} </if>
			      <if test="userId != null"> and user_id = #{userId,jdbcType=BIGINT} </if>
			      <if test="messageId != null">and message_id = #{messageId,jdbcType=BIGINT}  </if>
			      <if test="isDel != null"> and is_del = #{isDel,jdbcType=INTEGER} </if>
			      
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>
  	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from system_message_user 
		<include refid="Base_Where_Clause" />
	</select>
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(id) from system_message_user
		<include refid="Base_Where_Clause" />
	</select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_message_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
    insert into system_message_user (id, message_id, message_os, 
      user_id, is_read, is_del, 
      create_id, create_time, update_id, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{messageId,jdbcType=BIGINT}, #{messageOs,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{isRead,jdbcType=BIGINT}, #{isDel,jdbcType=BIGINT}, 
      #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
    insert into system_message_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="messageOs != null" >
        message_os,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="isRead != null" >
        is_read,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageOs != null" >
        #{messageOs,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isRead != null" >
        #{isRead,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
    update system_message_user
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=BIGINT},
      </if>
      <if test="messageOs != null" >
        message_os = #{messageOs,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isRead != null" >
        is_read = #{isRead,jdbcType=BIGINT},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateById" parameterType="com.galaxyinternet.model.systemMessage.SystemMessageUser" >
    update system_message_user
    set message_id = #{messageId,jdbcType=BIGINT},
      message_os = #{messageOs,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      is_read = #{isRead,jdbcType=BIGINT},
      is_del = #{isDel,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>