<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxyinternet.model.systemMessage.SystemMessage" >
  <resultMap id="BaseResultMap" type="com.galaxyinternet.model.systemMessage.SystemMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="os_type" property="osType" jdbcType="VARCHAR" />
    <result column="is_now_send" property="isNowSend" jdbcType="TINYINT" />
    <result column="send_time" property="sendTime" jdbcType="BIGINT" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createdTime" jdbcType="BIGINT" />
    <result column="update_id" property="updatedUid" jdbcType="BIGINT" />
    <result column="update_time" property="updatedTime" jdbcType="BIGINT" />
    <result column="upgrade_time" property="upgradeTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, message_content,os_type, is_now_send, send_time, send_status, is_del, create_id, create_time, 
    update_id, update_time, upgrade_time,send_time
  </sql>
 
  <sql id="Base_Where_Clause">
		<where>
			<trim prefixOverrides="and">
			      <if test="id != null"> and id = #{id,jdbcType=BIGINT} </if>
			      <if test="sendStatus != null"> and send_status = #{sendStatus,jdbcType=VARCHAR} </if>
			      <if test="startTime != null"> <![CDATA[  and FROM_UNIXTIME(send_time/1000,'%Y-%m-%d %H:%i:%s')>= #{startTime,jdbcType=TIMESTAMP} ]]> </if>
			      <if test="endTime != null"> <![CDATA[ and FROM_UNIXTIME(send_time/1000,'%Y-%m-%d %H:%i:%s') <= #{endTime,jdbcType=TIMESTAMP} ]]> </if>
			</trim>
		</where>
		<if test="sorting != null">order by ${sorting}</if>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</sql>
	<!-- 根据ID查询-->
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from system_message
		where id = #{id,jdbcType=BIGINT}
	</select>
	
	
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from system_message 
		<include refid="Base_Where_Clause" />
	</select>
	
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		select count(id) from system_message
		<include refid="Base_Where_Clause" />
	</select>
	
	
	<!-- 删除 -->
	<delete id="delete" parameterType="java.util.Map">
		delete from system_message
		<include refid="Base_Where_Clause" />
	</delete>
	
		<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from system_message
		where id = #{id,jdbcType=BIGINT}
	</delete>
	
	
	
	
	
   <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    insert into system_message (id, os_type, is_now_send, 
      send_time, send_status, is_del, 
      create_id, create_time, update_id, 
      update_time, upgrade_time, message_content
      )
    values (#{id,jdbcType=BIGINT}, #{osType,jdbcType=VARCHAR}, #{isNowSend,jdbcType=TINYINT}, 
      #{sendTime,jdbcType=BIGINT}, #{sendStatus,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, 
      #{createId,jdbcType=BIGINT}, #{createdTime,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{updatedTime,jdbcType=BIGINT}, #{upgradeTime,jdbcType=BIGINT}, #{messageContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <update id="updateById" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage">
		update system_message
		<set>
	      <if test="isNowSend != null">  is_now_send = #{isNowSend,jdbcType=TINYINT}, </if>
	      <if test="osType != null">  os_type = #{osType,jdbcType=VARCHAR}, </if>
	      <if test="sendTime != null"> send_time = #{sendTime,jdbcType=BIGINT}, </if>
	      <if test="sendStatus != null"> send_status = #{sendStatus,jdbcType=VARCHAR}, </if>
	      <if test="messageContent != null">  message_content = #{messageContent,jdbcType=VARCHAR}, </if>
	      <if test="isDel != null">  is_del = #{isDel,jdbcType=BIGINT}, </if>
	      <if test="updateId != null">  update_id = #{updateId,jdbcType=BIGINT}, </if>
	      <if test="updatedTime != null">  update_time = #{updatedTime,jdbcType=BIGINT}, </if>
	      <if test="upgradeTime != null">  upgrade_time = #{upgradeTime,jdbcType=BIGINT}</if>
		</set>
		
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>