<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.galaxyinternet.model.systemMessage.SystemMessage" >
  <resultMap id="BaseResultMap" type="com.galaxyinternet.model.systemMessage.SystemMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="os_type" property="osType" jdbcType="VARCHAR" />
    <result column="is_now_send" property="isNowSend" jdbcType="TINYINT" />
    <result column="send_time" property="sendTime" jdbcType="BIGINT" />
    <result column="send_status" property="sendStatus" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_id" property="updateId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    <result column="upgrade_time" property="upgradeTime" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.galaxyinternet.model.systemMessage.SystemMessage" extends="BaseResultMap" >
    <result column="message_content" property="messageContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, os_type, is_now_send, send_time, send_status, is_del, create_id, create_time, 
    update_id, update_time, upgrade_time
  </sql>
  <sql id="Blob_Column_List" >
    message_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from system_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    insert into system_message (id, os_type, is_now_send, 
      send_time, send_status, is_del, 
      create_id, create_time, update_id, 
      update_time, upgrade_time, message_content
      )
    values (#{id,jdbcType=BIGINT}, #{osType,jdbcType=VARCHAR}, #{isNowSend,jdbcType=TINYINT}, 
      #{sendTime,jdbcType=BIGINT}, #{sendStatus,jdbcType=VARCHAR}, #{isDel,jdbcType=TINYINT}, 
      #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, #{updateId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT}, #{upgradeTime,jdbcType=BIGINT}, #{messageContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    insert into system_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="osType != null" >
        os_type,
      </if>
      <if test="isNowSend != null" >
        is_now_send,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="sendStatus != null" >
        send_status,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="upgradeTime != null" >
        upgrade_time,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="osType != null" >
        #{osType,jdbcType=VARCHAR},
      </if>
      <if test="isNowSend != null" >
        #{isNowSend,jdbcType=TINYINT},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="sendStatus != null" >
        #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="upgradeTime != null" >
        #{upgradeTime,jdbcType=BIGINT},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    update system_message
    <set >
      <if test="osType != null" >
        os_type = #{osType,jdbcType=VARCHAR},
      </if>
      <if test="isNowSend != null" >
        is_now_send = #{isNowSend,jdbcType=TINYINT},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=BIGINT},
      </if>
      <if test="sendStatus != null" >
        send_status = #{sendStatus,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="upgradeTime != null" >
        upgrade_time = #{upgradeTime,jdbcType=BIGINT},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    update system_message
    set os_type = #{osType,jdbcType=VARCHAR},
      is_now_send = #{isNowSend,jdbcType=TINYINT},
      send_time = #{sendTime,jdbcType=BIGINT},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      upgrade_time = #{upgradeTime,jdbcType=BIGINT},
      message_content = #{messageContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.galaxyinternet.model.systemMessage.SystemMessage" >
    update system_message
    set os_type = #{osType,jdbcType=VARCHAR},
      is_now_send = #{isNowSend,jdbcType=TINYINT},
      send_time = #{sendTime,jdbcType=BIGINT},
      send_status = #{sendStatus,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=TINYINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      upgrade_time = #{upgradeTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>