<?xml version="1.0"?> 
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="logconsole" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d{yyyyMMddHHmmss} %c %t %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="error"></param>
			<param name="LevelMin" value="info"></param>
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="logfile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="${log4j.path}/galaxyPlatform/normal.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %d{yyyyMMddHHmmss} %c %t %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="error"></param>
			<param name="LevelMin" value="info"></param>
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<root>
		<level value="info" />
		<appender-ref ref="logconsole" />
		<appender-ref ref="logfile" />
	</root>
</log4j:configuration>